section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

section, .container, .container-fluid{
    position: relative;
    word-wrap: break-word;
}


section{
    display: block;
    overflow: hidden;
}

/*
@media (max-width: 1199px) {
    .section, .list{
      min-height: 576px;
      overflow-x: auto;
    }
}

@media (max-width: 991px) {
    .section, .list{
      min-height: 441px;
      overflow-x: auto;
    }
}

@media (max-width: 767px) {
    .sec1 {
     background-position: 22.55% 0%;
   }
}

*/
.container{
    width: 100%;
    padding-right: 25%;
    padding-left: 25%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

/*
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
*/

div{
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }




/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
 background-color: rgb(82, 79, 216,0.25);
 color: #fff;
 
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 15px;
 
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 12.5px;
}
.menu li:hover {
 background-color: #697ccf;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}

.break {
    page-break-after: always;
    position: relative;
  }

  .sec1{

    
    background-image: url(/AdobeStock_375837091.jpeg);
    padding-bottom: 7rem;
   
  }

  .column{
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: -2% auto;
    margin-left: 4%;
    
  }

.sec1 .list{
    grid-template-rows: repeat(3, auto);
    width: 739px;
    margin: 58px auto 0 0;
}

.sec1 .repeater{
    grid-template-columns: repeat(1, 100%);
    min-height: 520px;
    grid-gap: 23px;
}

  .list{
    
    display: flex;
    flex-direction: column;
  }

  .repeater{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
 
    display: grid;

    margin: 58px auto 0 0;
    
  }

  @media screen and (max-width: 992px){
    .repeater{
        flex-direction: column;
    }
  }

  .box{
    background-image: none;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 40%);
    text-align: left;
    color: black;
    background-color: white;
    display: flex;
    position: relative;
  }

  .box-content{
    padding-left: 20px;
    padding-right: 20px;
    padding: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
  }

  .box-heading{
    
    font-size: 2.25rem;
    margin: -10px 400px 8px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Oswald, sans-serif !important;
    word-wrap: break-word;
    position: relative;
  }

  .box-text{
    margin-top: 46px;
    margin-left: 0;
    width: auto;
    margin: 10px 0 0 249px;
    color: #41807c !important;
    word-wrap: break-word;
    position: relative;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    font-family: Oswald, sans-serif !important;
    line-height: 150%;
    font-size: 1.05rem;
  }
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }

  .header{
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 22rem;
  }

    .sec2{
        padding-top: 3rem;
        padding-bottom: 2rem;
        background-image: url(/AdobeStock_375837091.jpeg);
    }

  .s{
    height: 12rem;
    width: 12rem;
  }

  .header-2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 11rem;
  }

  .main{
    height: 23rem;
    width: 23rem;
  }

  .dot {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
   
  }

  .l{
    transform: translateX(-15rem);
 
  }

  .r{
    transform: translateX(-3rem);
    background-color: #474e5d;
  }


  .c{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .middle{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(173, 173, 173);
  }

  .container-heading{
    color: white;
    text-transform: uppercase;
    text-align: left;
    margin-left: -40%;
    text-decoration: underline;
  }

  .container-text{
    color: white;
    text-align: left;
    line-height: 175%;
    font-weight: 560;
    padding-top: 2%;
    margin-left: -40%;
    margin-right: -20%;
  }


  #vid,#circle{
    display: inline-block;
    vertical-align: middle;
  }

  .sec3{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .p{
    overflow: hidden;
    white-space: nowrap;
  }


  .dot-2 {
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
   
  }

  .r-2{
    background-color: #474e5d;
  }

  .parent{
    display: flex;
    flex-direction: row;
  }


  /*slide*/

  .slideshow-container{
    
    
    position: relative;
    display: flexbox;
    width: 100%;
    justify-content: center;
   flex-direction: row;
  
  }

  .Slides{
    display: none;
    padding: 0px;
   text-align: center;
  
  }

  .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next{
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .dot-container{
    text-align: center;
    padding: 20px;
    background: #ddd;
  }

  .slide-dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .slide-dot:hover{
    background-color: #717171;
  }

  .dot-content{
    color: white;
    white-space: normal;
    overflow: overlay;
    line-height: 2.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .last{
  
    background-image: url(/AdobeStock_375837091.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
   padding-top: 4rem;
   padding-bottom: 4rem;
  }

  .bottom-heading{
    color: white;
    font-size: 2.2rem;
    padding-bottom: 1.2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(87, 86, 86);
  }

  .textb{
    color: white;
    padding-bottom: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px rgb(87, 86, 86);
    font-size: large;
  }

  .button{
    border: none;
    font-family: inherit;
    padding: 0;
    cursor: pointer;

    display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(87, 86, 86);
  color: white;
  border-radius: 5px;

  

  padding: 0.25em 0.75em;
  min-width: 75px;
  min-height: 30px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-left: 5%;
  margin-right: 5%;
    @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentcolor;
    }
  }

  .q{
    padding-right: 1.5rem;
  }
 
 
  

  
  